<!DOCTYPE html>
<html>
<head>
    <title>Liveboard</title>
    <link rel="stylesheet" type="text/css" href="/drail/static/css/styles.css"> 
</head>
<body>
    <h1>Once again SNCB api is not responding with error :</h1>
    <span style="color:yellow">{{ error }}</span>

<br><br>
    <table>
        <tr>
            <th>Time (Delay)</th>
            <th>Station</th>
            <th>Platform</th>
        </tr>

        <tr>
            <td class="time">
                <img src=/static/train1.jpeg>
            </td>
            <td class="stations">
                <img src=/static/train2.jpeg>
            </td>
            <td class="platform">
                <img src=/static/train3.jpeg>
            </td>
        </tr>

    </table>
</body>
</html>
